body,h1,h2,h3,h4,h5,h6,ul,li,p,form,input{margin: 0;padding: 0;font-weight: normal;}
html,body{height:100%;min-height: 100%;font-family:"Microsoft YaHei";background-color: #fff;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
a{text-decoration:none;}
li{list-style: none;}
input,textarea{outline: none;border: none;}
.fl{float: left;}
.fr{float: right;}
.clear:after{content: '';display: block;clear: both;}
.clear{zoom: 1;}
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	min-width: 1506px;
	min-height: 100%;
    overflow-y: auto;
}
.banner{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	min-width: 800px;
	height: 81px;
	line-height: 81px;
	text-align: center;
	background-color: #c53c45;
}
.banner .logo{
	margin-top: 13px;
	margin-left: 34px;
}
.banner .cpi{
	vertical-align: middle;
}
.banner .contact{
	
}
.banner .contact a{
	color: #fff;
	border-left: 1px solid #fff;
	padding: 0 30px;
}
.banner .contact a:hover{
	color: #ffde00;
}
.main{
    width: 100%;
}
.footer{
	width: 100%;
	height: 233px;
	line-height: 233px;
	text-align: center;
	background-color: #1b191a;
}
.footer .foot-con{
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.footer .foot-con span{
	color: #fff;
	font-size: 22px;
	margin-right: 93px;
	padding-right: 80px;
	border-right: 2px solid #fff;
}
.footer .foot-con a{
	font-size: 24px;
	color: #fff;
}
.footer .foot-con a:hover{
	color: #fef500;
}

/*animate*/
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
 
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
 
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
 
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
 
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
 
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
 
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
 
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
 
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
 
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
 
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
 
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
 
.bounceInRight {
  -webkit-animation: bounceInRight 2s 1;
  	 -moz-animation: bounceInRight 2s 1;
  		 -o-animation: bounceInRight 2s 1;
				 animation:  bounceInRight 2s 1;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
 
@keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
 
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
 
.bounceInDown {
  -webkit-animation: bounceInDown 1s 1;
  	 -moz-animation: bounceInDown 1s 1;
  		 -o-animation: bounceInDown 1s 1;
				 animation:  bounceInDown 1s 1;
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
 
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
 
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
 
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
 
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
 
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
 
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
 
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
 
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
 
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
 
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
 
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
 
.bounceInUp {
  -webkit-animation: bounceInUp 1s 1;
  	 -moz-animation: bounceInUp 1s 1;
  		 -o-animation: bounceInUp 1s 1;
				 animation:  bounceInUp 1s 1;
}

@-webkit-keyframes bounceInUpSelf {
 
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
 
@keyframes bounceInUpSelf {
 
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
 
.bounceInUpSelf {
  -webkit-animation: bounceInUpSelf 1s 1;
  	 -moz-animation: bounceInUpSelf 1s 1;
  		 -o-animation: bounceInUpSelf 1s 1;
				 animation:  bounceInUpSelf 1s 1;
}
