
.header{
	position: relative;
	max-width: 1920px;
	height: 590px;
	color: #fff;
	background: url(../img/header.jpg) top center no-repeat;
	margin: 0 auto;
}
.header-word{
	position: absolute;
	top: 130px;
	right: 54px;
	width: 1078px;
	text-align: right;
}
.header .line{
	display: block;
	height: 2px;
	background-color: #fff;
}
.header h3{
	line-height: 110px;
	font-size: 70px;
	font-family: 'PingFangSc Regular';
	padding-bottom: 8px;
}
.header p{
	font-size: 26px;
	line-height: 54px;
	margin-top: 28px;
}
.adv-pub-wrap{
	width: 100%;
	height: 404px;
	padding-top: 74px;
	text-align: center;
}
.adv-pub{
	display: inline-block;
	width:1496px;
	
}
.adv-pub>div{
	position: relative;
	width: 660px;
	height: 323px;
	border: 2px solid transparent;
}
.adv-pub .adv-wrap{
	text-align: right;
	margin-right: 26px;
	padding-right: 50px;
}
.adv-pub .pub-wrap{
	margin-left: 26px;
	padding-left: 50px;
	text-align: left;
}
.adv-pub .adv-line{
	width: 2px;
	height: 194px;
	background-color: #333;
	margin-top: 40px;
}
.adv-pub>div h3{
	color: #717171;
	font-size: 56px;
	line-height: 124px;
	font-family: 'Cooper Black';
}
.adv-pub>div P{
	color: #ababab;
	font-size: 36px;
	line-height: 50px;
}
.adv-pub .adv-link{
	position: absolute;
	right: 11px;
	bottom: 6px;
	width: 47px;
	height: 47px;
	background: url(../img/arrow.png) no-repeat;
	display: none;
}
.adv-pub>div.active{
	border-color: #db6666;
}
.adv-pub>div.active h3{
	color: #c13942;
}
.adv-pub>div.active p{
	color: #333;
	
}
.adv-pub>div.active .adv-link{
	display: block;
}
/*.adv-pub>div:hover{
	border-color: #db6666;
}
.adv-pub>div:hover h3{
	color: #c13942;
}
.adv-pub>div:hover p{
	color: #333;
	
}
.adv-pub>div:hover .adv-link{
	display: block;
}*/

.game-wrap{
	height: 1723px;
	background-color: #dde0e5;
	padding-top: 52px;
}
.game-wrap .game{
	width: 1494px;
	margin: 0 auto;
}
.game-wrap .game-tit{
	line-height: 80px;
	color: #c13942;
	font-size: 68px;
	font-family: 'Cooper Black';
	text-align: center;
}
.game-wrap .line{
	display: block;
	width: 1178px;
	height: 2px;
	background-color: #515151;
	margin: 45px auto 120px;
}
.game-wrap .game-info{
	position: relative;
	height: 1143px;
}
.game-wrap .game-info .item{
	position: absolute;
	width: 361px;
	height: auto;
	padding-bottom: 52px;
}
.game-wrap .game-info .item .word{
	line-height: 40px;
	font-family: 'PingFangSc Regular';
	font-size: 22px;	
	word-break: break-all;
	letter-spacing: 1px;
	display: none;
}
.game-wrap .game-info .item .game-link{
	position: absolute;
  right: -22px;
  bottom: 0px;
  width: 47px;
  height: 47px;
  background: url(../img/arrow.png) no-repeat;
  display: none;
}
.game-wrap .game-info .item .shadow{
	position: absolute;
	top: 97px;
	left: 28px;
	width: 440px;
	height: 401px;
	background: url(../img/shadow.png) no-repeat;
}
.game-wrap .game-info .item1{
	top: 0;
	left: 569px;
}
.game-wrap .game-info .item2{
	right: 0;
	top: 391px;
}
.game-wrap .game-info .item3{
	top: 782px;
	left: 569px;
}
.game-wrap .game-info .item4{
	top: 391px;
	left: 0;
}
.game-wrap .game-info .item .bg{
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	height: 361px;
	margin-bottom: 15px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.game-wrap .game-info .item1 .bg{
	background-image: url(../img/circle1.png);
}
.game-wrap .game-info .item2 .bg{
	background-image: url(../img/circle2.png);
}
.game-wrap .game-info .item3 .bg{
	background-image: url(../img/circle3.png);
}
.game-wrap .game-info .item4 .bg{
	background-image: url(../img/circle4.png);
}
.game-wrap .game-info .item.active .bg{
	background-position: -361px 0;
}

.game-wrap .game-info .item.active .word,
.game-wrap .game-info .item.active .game-link{
	display: block;
}
/*.game-wrap .game-info .item:hover .bg{
	background-position: -361px 0;
}

.game-wrap .game-info .item:hover .word,
.game-wrap .game-info .item:hover .game-link{
	display: block;
}*/

/*ad impression*/
.impres-wrap{
	border-bottom: 4px solid #cd6168;
	padding-bottom: 100px;
}
.impres-tit{
	height: 169px;
	line-height: 169px;
	color: #fff000;
	font-size: 56px;
	font-family: 'Cooper Black';
	text-align: center;
	background-color: #cd6168;
}
.impres-list{
	padding-top: 72px;
}
.impres-list li{
	text-align: center;
}
.impres-list li .wrap{
	position: relative;
	display: inline-block;
	padding: 52px 176px 33px;
	border: 2px solid transparent;
}
.impres-list li .link{
	position: absolute;
	right: 18px;
	bottom: 11px;
	width: 47px;
	height: 47px;
	background: url(../img/arrow.png) no-repeat;
	display: none;
}
.impres-list li .word{
	width: 100%;
	line-height: 62px;
	font-size: 48px;
	clear: both;
	color: #515151;
	padding-top: 70px;
}
.impres-list li .wrap:hover{
	border-color: #e69494;
}
.impres-list li .wrap:hover .link{
	display: block;
}
.impres-list li .wrap:hover .mobile{
	/*-webkit-transform:scale(1.01);*/
}
.impres-list li .mobile{
	position: relative;
	float: left;
	width: 224px;
	height: 407px;
	background: url(../img/mobile.png) no-repeat;
	margin-right: 58px;
	padding: 21px 9px;
	overflow: hidden;
}
.impres-list li .mobile:nth-last-of-type(1){
	margin-right: 0;
}
.impres-list li .mobile .bar{
	display: block;
	width: 224px;
	height: 27px;
	background-color: #db6666;
}
.impres-list li .mobile .bar.bot{
	position: absolute;
	left: 9px;
	bottom: 21px;
}

.mobile-con{
	position: relative;
	width: 223px;
	height: 406px;
	line-height: 406px;
	background-color: #db6666;
	overflow: hidden;
}
.mobile-con .close{
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 1;
	width: 16px;
	height:16px;
	background: url(../img/close.png) no-repeat;
}
.mobile-con .play,
.mobile-con .play-fade,
.mobile-con .play-down-fade{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 104px;
	height:104px;
	background: url(../img/play.png) no-repeat;
	margin: -52px 0 0 -52px;
	cursor: default;
}
.mobile-con .mountain{
	position: absolute;
	bottom: 0px;
	left: 2px;
	width: 219px;
	height:179px;
	background: url(../img/mountain.png) no-repeat;
}
.mobile-con .scroll{
	position: absolute;
	left: 0;
	width: 223px;
	height:22px;
	background: #e69494;
	overflow: hidden;
}
.mobile-con .scroll.top{
	top: 0px;
}
.mobile-con .scroll.bot{
	bottom: 0px;
}
.mobile-con.ads .scroll.top{
	left: 100px;
}
.mobile-con.ads .scroll.bot{
	left: -113px;
}
.mobile-con .scroll ul{
	position:absolute;
	left:0px;
	top:0px;
	height:22px;
}
.mobile-con .scroll li{
	float: left;
	width: 20px;
	height: 20px;
	padding: 0;
	border: 0;
}
.mobile-con .scroll-img{
	position: absolute;
	bottom: 5px;
	left: 4px;
	width: 211px;
	height: 107px;
	overflow: hidden;
}
.mobile-con .scroll-img .down{
	display: block;
	width: 134px;
	height: 46px;
	background: url(../img/down.png) no-repeat;
	margin: 0 auto;
}
.mobile-con .scroll-img ul{
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 46px;
}
.mobile-con .scroll-img li{
	float: left;
	width: 46px;
	height: 46px;
	padding: 0;
	border: 0;
	background: url(../img/scroll_img.png) no-repeat;
	margin-right: 9px;
}

.mobile-con .scroll:not(.right) li:nth-child(even){
	background-color: #db6666;
}
.mobile-con .scroll.right li:nth-child(odd){
	background-color: #db6666;
}
.mobile-con.art{
	height: 220px;
}
.article{
	width: 221px;
	height: 152px;
	background: url(../img/article.png);
	margin: 0 auto;
	margin-top: 14px;
}

.mobile-con.over{
	background: url(../img/gameover.jpg) 16px 50px no-repeat;
}
.mobile-con.over .scroll-img li{
	background-image: url(../img/scroll_img_dark.png);
}

.impres-list li .mobile.video{
  width: 236px;
  height: 418px;
  padding: 15px 3px;
}
.impres-list li .video-con{
	position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.impres-list li .video-con .video{
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
}
.impres-list li .video-con .video .item{
	position: relative;
  width: 100%;
  height: 578px;
  background: url(../img/scroll_video.png) no-repeat;
}
.impres-list li .video-con .item span{
  position: absolute;
  width: 65px;
  height: 65px;
  background: url(../img/video.jpg) no-repeat;
}
.impres-list li .video-con .item span.item1{
  top: 8px;
  left: 148px;
}
.impres-list li .video-con .item span.item2{
  top: 113px;
  left: 26px;
}
.impres-list li .video-con .item span.item3{
  top: 320px;
  left: 125px;
}

.impres-list li.offer .mobile{
	float: none;
	margin: 0 auto;
}
.impres-list li.offer .mobile-con{
	height: 378px;
	background:none;
	padding-top: 34px;
}
.impres-list li.offer .close{
	background-image: url(../img/close_dark.png);
}
.offer-wrap{
	position: relative;
	height: 378px;
	overflow: hidden;
}
.offer-list{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.offer-list li{
	width: 100%;
	height: 68px;
	padding-bottom: 17px;
	background: url(../img/offerwall.jpg) top center no-repeat;
}
